

.container{
  padding: 50px;
  padding-left: 700px;
}

.container > input {
  margin-bottom: 20px;
}

.container > button {
  margin-left: 230px;
}

#result {
  margin-top: 50px;
  margin-left: 750px;
  font-weight: normal;
  display: flex;
}

#content{
  width: 450px;
}

