  @font-face {
    font-family: 'ChosunIlboMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

*{
  font-family: 'ChosunIlboMyungjo';
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #edf2fb;
}

main{
 width: 1140px;
 margin: auto;
 display: flex;
 flex-direction: column;
 background-color: white;
 
}

.title > h1{
  margin: 0;
  font-size: 80px;
  text-align: center;
  margin-top: 20px;
}

main > nav{
  height: 60px;
  border-bottom: 2px solid #bde0fe;
  position: sticky;
  top: 0;
  margin-top: 20px;
  background-color: white;
}

nav > ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li{
  flex-basis: 250px;
  display: flex;
}

nav a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: block;
  text-align: center;
  line-height: 50px;
  width: 90%;
  height: 100%;
  
  transition-duration: 0.2s;
  border-radius: 4px;
}

nav a:hover{
  background-color: #bde0fe;
  color: white;
}

#about-me, #education, #skills, #projects, #contact-me{
  padding: 30px;
}

#skills > table img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}