  @font-face {
    font-family: 'ChosunIlboMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

*{
  font-family: 'ChosunIlboMyungjo';
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #edf2fb;
}

main{
 width: 1400px;
 margin: auto;
 display: flex;
 flex-direction: column;
 background-color: white;
}

.title > h1{
  margin: 0;
  font-size: 80px;
  text-align: center;
  margin-top: 20px;
  background-color: #0077b6;
  color: white;
}

main > nav{
  height: 60px;
  border-bottom: 2px solid #bde0fe;
  position: sticky;
  top: 0;
  margin-top: 20px;
  background-color: white;
  margin-bottom: 30px;
}

nav > ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li{
  flex-basis: 20%;
  display: flex;
}

nav a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: block;
  text-align: center;
  line-height: 50px;
  width: 90%;
  height: 100%;
  
  transition-duration: 0.2s;
  border-radius: 4px;
}

nav a:hover{
  background-color: #bde0fe;
  color: white;
}

#about-me, #education, #skills, #projects, #contact-me{
  margin: 40px;
  margin-bottom: 120px;
  padding: 20px;
  border: 1px dashed #90e0ef;
}

h2{
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #edf2fb;
  font-size: 30px;
}

#about-me > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me img{
  width: 350px;
  height: 370px;
  padding-bottom: 20px;
}

#about-me h3{
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #bde0fe;
  border-bottom: 2px solid #bde0fe;
}

#about-me li, #education li{ 
  font-size: 18px; 
  padding: 15px;
}

ol[type="I"]{
  padding: 10px;
}

#skills{
  display: flex;
  flex-direction: column;
}

#skills th{
  font-size: 25px;
  padding: 20px;
}

#skills td{
  text-align: center;
  padding: 20px;
}

#skills > table img{
  width: 80px;
  height: auto;
}

#skills td > p{
  font-size: 20px;
  font-weight: 500;
}

#projects > table{
  width: 100%;
  height: 100%;
}

#projects th{
  font-size: 25px;
  padding: 15px;
  border-bottom: 1px solid #457b9d;
}

#projects td:not(td > i){
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

#contact-me > form{
  display: flex;
  flex-direction: column;
}

#contact-me fieldset{
  display: flex;
  border: none;
  margin: 10px;
}

#contact-me fieldset > input{
  flex-basis: 92%;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

#contact-me fieldset > textarea{
  resize: none;
  width: 90%;
  height: 150px;
  font-size: 20px;
  padding: 7px;
}

#contact-me fieldset > i{
  flex-basis: 8%;
}

#contact-me button{
  width: 50px;
  height: 40px;
  font-size: 28px;
  margin-top: 40px;
  background-color: transparent;
  border: none;
  align-self: center;
  cursor: pointer;

  transition-duration: 0.2s;
  border-radius: 10px;
}

#contact-me button:hover{
  background-color:   #bde0fe;
  color: white;
}





