#menu > li{
  background-color: beige;
  color: brown;
}

#menu li{
  color: darkgreen;
}

button:hover{
  background-color: yellow;
  width: 50px;
  height: 30px;
}

button{
  transition: 3s;
}

input:focus{
  border: 3px solid blue;
  background-color: lightcyan;
}

#agree:checked + label{
  color: red;
}

