.container {
  padding-left: 750px;
}

div {
  border: 1px solid black;
}

#result{
  width: 1870px;
  height: 450px;
  padding: 10px;
  display: flex;
}


form > input, form > textarea, form > ul, form > button{
  margin-bottom: 10px;
}

#location ul{
  list-style: none;
  padding: 10px;
}


#apply-btn{
  margin-left: 340px;
}