body{
  display: flex;
}

#result{
  margin-left: 50px;
  margin-top: 80px;
  border: 1px solid black;
  width: 1000px;
  height: 450px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

form > input, form > textarea, form > ul, form > button{

  margin-bottom: 10px;

}

#location ul{
  list-style: none;
  padding: 10px;
}

hr{
  margin: 0;
  margin-left: 70px;
}

#apply-btn{
  margin-left: 315px;
}